<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">{{greetings}}</div>
    <div id="app-2">
      <span v-bind:title="message"> Hover your mouse over me for a few seconds to see my dynamically bound title! </span>
      <p><a :href="url">Google Home Page</a></p>
    </div>
    <div id="app-3">
      <p v-if="display">I am visible, Yay!</p>
    </div>

    <div id="app-4">
      <ol>
        <li v-for="todo in todos">{{ todo.dish }} <span v-if="todo.dish === favorite"> is my Favorite</span></li>
      </ol>
    </div>

    <div id="app-5">
      <button v-on:click="count">You clicked {{counter}} times</button>
    </div>
  </body>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        greetings: 'hello world',
      },
    });

    let app2 = new Vue({
      el: '#app-2',
      data: {
        message: 'You loaded this page on ' + new Date().toLocaleString(),
        url: 'https://google.com',
      },
    });

    let app3 = new Vue({
      el: '#app-3',
      data: {
        display: true,
      },
    });

    let app4 = new Vue({
      el: '#app-4',
      data: {
        todos: [{ dish: 'Pizza' }, { dish: 'Samosa' }, { dish: 'Fried Rice' }, { dish: 'Burger' }, { dish: 'Pasta' }],
        favorite: 'Pasta',
      },
    });

    let app5 = new Vue({
      el: '#app-5',
      data: {
        counter: 0,
      },
      methods: {
        count: function () {
          this.counter += 1;
        },
      },
    });
  </script>
</html>
